<h1><%="#{@portfolio.name}"%></h1>
<ul>
  <% @stocks.each do |stock| %>
    <li>
      <div>
        <%= stock.name %>
        <%= button_to "Prices", "/stocks/#{stock.id}/prices", method: :get %>
      </div>
    </li>
  <% end %>
</ul>